@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido al Laboratorio 2 de Oscar y José!</h1>
    <p class="lead">Puede ingresar productos a un inventario y facturas a una base de datos, además de muchas operaciones en ambas cosas!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>INVENTARIO</h2>
        <p>
            Aquí podra: qlg qlg
        </p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        @*<p class="btn btn-default">@Html.ActionLink("Factura", "Index", "Invoice") </p>*@
        <p><a class="btn btn-default" href="http://localhost:57601/Product">Empezar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FACTURAS</h2>
        <p>
            Aquí podra: qlg qlg
        </p>
        <p><a class="btn btn-default" href="http://localhost:57601/Invoice">Empezar &raquo;</a></p>
    </div>


</div>