
@{
    ViewBag.Title = "AlertMessage";
}

<h2>AlertMessage</h2>

<script type="text/javascript">alert("Ha ocurrido un problema. Vuelva a intentarlo y preste atención al tipo de dato requerido.")</script>

<p>@Html.ActionLink("Continuar", "Index", "Celular")</p>
